[Unit]
Description=RaspAP Service Daemon
DefaultDependencies=no
After=multi-user.target

[Service]
Type=simple
#PIDFile=/run/raspap.pid
#Environment=MY_CONF=value
ExecStart=/bin/bash /opt/raspap/service.sh start
ExecStop=/bin/bash /opt/raspap/service.sh stop
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

